<h1>Editing endereco cliente</h1>

<%= render "form", endereco_cliente: @endereco_cliente %>

<br>

<div>
  <%= link_to "Show this endereco cliente", @endereco_cliente %> |
  <%= link_to "Back to endereco clientes", endereco_clientes_path %>
</div>
