<h1>Editing tipo pgto</h1>

<%= render "form", tipo_pgto: @tipo_pgto %>

<br>

<div>
  <%= link_to "Show this tipo pgto", @tipo_pgto %> |
  <%= link_to "Back to tipo pgtos", tipo_pgtos_path %>
</div>
