<div id="<%= dom_id categorium %>">
  <p>
    <strong>Código:</strong>
    <%= categorium.idCat %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= categorium.dscCat %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= categorium.idDpto %>
  </p>

</div>
