<p style="color: green"><%= notice %></p>

<h1>Categoria</h1>

<div id="categoria">
  <% @categoria.each do |categorium| %>
    <%= render categorium %>
    <p>
      <%= link_to "Consulta", categorium %>
    </p>
  <% end %>
</div>

<%= link_to "Inserir", new_categorium_path %>
