<div id="<%= dom_id plano_pgto %>">
  <p>
    <strong>Idplano:</strong>
    <%= plano_pgto.idPlano %>
  </p>

  <p>
    <strong>Dscplanopagto:</strong>
    <%= plano_pgto.dscPlanoPagto %>
  </p>

  <p>
    <strong>Idpgto:</strong>
    <%= plano_pgto.idPgto %>
  </p>

</div>
