<h1>Editing plano pgto</h1>

<%= render "form", plano_pgto: @plano_pgto %>

<br>

<div>
  <%= link_to "Show this plano pgto", @plano_pgto %> |
  <%= link_to "Back to plano pgtos", plano_pgtos_path %>
</div>
