<div id="<%= dom_id sub_categorium %>">
  <p>
    <strong>Idsubcat:</strong>
    <%= sub_categorium.idSubCat %>
  </p>

  <p>
    <strong>Dscsubcat:</strong>
    <%= sub_categorium.dscSubCat %>
  </p>

  <p>
    <strong>Idcat:</strong>
    <%= sub_categorium.idCat %>
  </p>

</div>
