<h1>Editing sub categorium</h1>

<%= render "form", sub_categorium: @sub_categorium %>

<br>

<div>
  <%= link_to "Show this sub categorium", @sub_categorium %> |
  <%= link_to "Back to sub categoria", sub_categoria_path %>
</div>
