<div id="<%= dom_id nota_fiscal %>">
  <p>
    <strong>Idnota:</strong>
    <%= nota_fiscal.idNota %>
  </p>

  <p>
    <strong>Idpedido:</strong>
    <%= nota_fiscal.idPedido %>
  </p>

  <p>
    <strong>Valornota:</strong>
    <%= nota_fiscal.valorNota %>
  </p>

</div>
