<h1>Editing nota fiscal</h1>

<%= render "form", nota_fiscal: @nota_fiscal %>

<br>

<div>
  <%= link_to "Show this nota fiscal", @nota_fiscal %> |
  <%= link_to "Back to nota fiscals", nota_fiscals_path %>
</div>
