<div id="<%= dom_id item_pedido %>">
  <p>
    <strong>Idpedido:</strong>
    <%= item_pedido.idPedido %>
  </p>

  <p>
    <strong>Idprod:</strong>
    <%= item_pedido.idProd %>
  </p>

  <p>
    <strong>Qtditem:</strong>
    <%= item_pedido.qtdItem %>
  </p>

</div>
