<h1>Editing item pedido</h1>

<%= render "form", item_pedido: @item_pedido %>

<br>

<div>
  <%= link_to "Show this item pedido", @item_pedido %> |
  <%= link_to "Back to item pedidos", item_pedidos_path %>
</div>
